.Header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  margin: 30px auto;
  width: fit-content;
}

.Header h1 {
  font-size: 30pt;
  font-weight: 150;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.elipse {
  border: 1px solid white;
  border-radius: 100%;
  height: 307.45px;
  position: absolute;
  transform: rotate(59deg);
  width: 120.07px;
}

.Header .ellipseLeak {
  background-image: url('/src/images/background.png');
}
