.Header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
  margin: 80px auto;
  width: fit-content;
}

.Header h1 {
  font-size: 30pt;
  font-weight: 150;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 1;
}

.elipse {
  border: 1px solid white;
  border-radius: 100%;
  height: 307.45px;
  position: absolute;
  transform: rotate(59deg);
  width: 120.07px;
  z-index: 0;
}

h1 .ellipseLeak {
  background-image: url('/src/images/background.png');
}
