.card {
  background-color: rgba(24, 26, 37, 0.5);
  border: 1px solid white;
  border-radius: 10px;
  height: 11.875rem;
  max-width: 48.5%;
  min-width: 48.5%;
}

.card .name {
  align-items: center;
  border-bottom: 1px solid white;
  display: flex;
  font-size: 13pt;
  font-weight: 500;
  height: 50%;
  justify-content: center;
}

.card .info {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  font-weight: 400;
  height: 50%;
  padding: 5px;
  text-align: start;
}

.card .info p {
  font-size: 12px;
}

.yearCountry, .destinationIcon {
  align-items: center;
  display: flex;
  gap: 5px;
  max-width: 185px;
}

.year {
  padding-right: 15px;
}

.country {
  width: 150px auto;
}
