.solarSystem {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}

.solarSystem h2 {
    font-weight: 260;
    text-transform: uppercase;
}

.solarSystem .planets {
    display: flex;
}

.solarSystem::after {
    content: '';
    height: 1px;
    background-color: white;
    position: absolute;
    width: 100%;
    top: 51.9%;
    z-index: 0;
}
