.solarSystem {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.solarSystem h2 {
  font-weight: 260;
  text-transform: uppercase;
}

.solarSystem .planets {
  display: flex;
}

.solarSystem:after {
  background-color: white;
  content: '';
  height: 1px;
  position: absolute;
  top: 51.9%;
  width: 100%;
  z-index: 0;
}
